@page "{id:int}"
@model MiniAccountManagementSystem.Pages.Accounts.DeleteModel
@{
    ViewData["Title"] = "Delete Account";
    Layout = "_Layout";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Delete Account</h3>
                </div>
                <div class="card-body">
                    <h4 class="text-danger">Are you sure you want to delete this account?</h4>
                    <dl class="row">
                        <dt class="col-sm-4">Account Name</dt>
                        <dd class="col-sm-8">@Model.Account.AccountName</dd>
                        <dt class="col-sm-4">Account Type</dt>
                        <dd class="col-sm-8">@Model.Account.AccountType</dd>
                        <dt class="col-sm-4">Balance</dt>
                        <dd class="col-sm-8">@Model.Account.Balance.ToString("C")</dd>
                        <dt class="col-sm-4">Created Date</dt>
                        <dd class="col-sm-8">@Model.Account.CreatedDate.ToShortDateString()</dd>
                    </dl>
                    <form method="post">
                        <input type="hidden" asp-for="Account.AccountId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>